{% extends "newmovieratings/base.html" %}
{% block content %}
{% if rater.pk == user.pk %}
<h2>Welcome to your home page {{user.username}}</h2>
{% else %}
  <h2>{{ rater.user.username }}'s home page</h2>
{% endif %}
<ul>
  <li>sex: {{ rater.gender }}</li>
  <li>age: {{ rater.age }}</li>
  <li>occupation code: {{ rater.occupation }}</li>
  <li>zip-code: {{ rater.zipcode }}</li>
  {% if rater.pk == user.pk %}
    <a href="{% url 'update_rater'%}" class="btn btn-default">Update Profile</a>
  {% endif %}
<table class="table" style="width:50%">
  <tr><th>Movie Title</th><th>Rating</th>
  {% if rater.pk == user.pk %}
  <th>Edit</th><th>Delete</th>
  {% endif %}
  <th>Timestamp</th></tr>
  <tb>
  {% for rating in ratings %}
  <tr><td><a href="{% url 'movie_page' rating.movie.pk %}">{{rating.movie.title}}</a></td> <td>{{rating.score}}&#9733;'s</td>
    {% if rater.pk == user.pk %}
      <td><a href="{% url 'user_rating' rating.movie.pk %}" class="btn btn-default">Edit</a></td>
      <td><a href="{% url 'remove_rating' rating.movie.pk %}" class="btn btn-default">Delete</a></td>
    {% endif %}
    {% if rating.timestamp %}
    <td>{{rating.timestamp}}</td>
    {% endif %}</tr>
  {%endfor%}
</tb></table>
{% endblock %}
