{% extends "base.html" %}
{% block content %}
  <h3>User #{{rater.id}}</h3>
  <dl>
    <dt>gender</dt>
    <dd>{{rater.gender}}</dd>
    <dt>age</dt>
    <dd>{{rater.age}}</dd>
    <dt>occupation</dt>
    <dd>{{rater.occupation}}</dd>
    <dt> zip-code</dt>
    <dd>{{rater.zip_code}}</dd>
  </dl>
  <ul>
    <h4><a href="{% url 'new_rating' %}">Make a new Rating!</a><h4>
  {% for rating in rater.rating_set.all %}
    <li><b><a href="{% url 'movie_page' rating.movie.pk %}">{{ rating.movie.title }}</a></b> a {{rating.score}} out of 5</li>
  {% endfor %}
  </ul>
{% endblock %}
